.counterSection {
  display: flex;
  align-items: center;
  padding-top: 32px;
}

.btnLeft,
.btnRight {
  min-width: 50px;
  padding: 16px;
  color: white;
  font-size: 32px;
  font-weight: 300;
  cursor: pointer;
}

.btnLeft {
  background-color: green;
  margin-right: 8px;
  margin-left: 50px;
}

.btnRight {
  background-color: red;
  margin-left: 8px;
}

.counter {
  font-weight: 600;
  font-size: 64px;
  margin: 0;
  padding: 16px;
  background-color: greenyellow;
  border-radius: 50%;
}
